In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

In [2]:
link = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"

Get raw html from page using requests

In [3]:
html = requests.get(link).content

Convert into BeautifulSoup object

In [4]:
soup = BeautifulSoup(html, "html.parser")

Extract table from html

In [5]:
tab=soup.find("table",{"class":"wikitable sortable"})

In [6]:
type(soup)

bs4.BeautifulSoup

In [7]:
type(tab)

bs4.element.Tag

Get headers for dataframe using the th tags

In [8]:
headerCells = tab.find_all("th")
headerVals = []

In [9]:
for x in headerCells:
    print(x.find(text=True))
    headerVals.append(x.find(text=True).strip('\n'))

Postal Code

Borough

Neighborhood

In [10]:
rows = tab.find_all("tr")

In [11]:
df = pd.DataFrame(columns=headerVals)

Loop through the soup object and extract all 'td' tags.  
Append each set of tds in a tr to a separate list.

In [12]:
rowsList = []
row = []
for x in rows:
    row = []
    for y in x.find_all("td"):
        row.append(y.find(text=True).strip('\n'))
    rowsList.append(row)

In [13]:
rowsList = rowsList[1:]

Break up the 2D list into three 1D lists that would act as columns for the dataframe

In [14]:
postalCode = []
borough = []
neighborhood = []
for x in rowsList:
    postalCode.append(x[0])
    borough.append(x[1])
    neighborhood.append(x[2])

Add the lists to the dataframe

In [15]:
df["Postal Code"] = postalCode
df["Borough"] = borough
df["Neighborhood"] = neighborhood

In [16]:
df.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [17]:
df.tail()

,Postal Code,Borough,Neighborhood
175,M5Z,Not assigned,Not assigned
176,M6Z,Not assigned,Not assigned
177,M7Z,Not assigned,Not assigned
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,Not assigned

Drop rows where 'Borough' is 'Not assigned'

In [18]:
for index, row in df.iterrows():
    if row["Borough"] == "Not assigned":
        df = df.drop(index, axis=0)

Check for rows where 'Neighborhood' == 'Not assigned'

No such rows exist

In [19]:
for index, row in df.iterrows():
    if row["Neighborhood"] == "Not assigned":
        print(index)

In [20]:
df.head()

  Postal Code           Borough                                 Neighborhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [21]:
df.shape

(103, 3)